body{
    background-color: #0E185F;
    
}
h1{
    color: white;
    text-align: center;
}
.container{
    max-width: 600px;
    height:500px;
    font-size:30px ;
    background-color: #0E185F;
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8,1fr);
    margin:0 auto;
    text-align: center;
}
.white{
    background-color: white;
    
}
.black{
    background-color: #0E3EDA;
    
}